* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei';
}

body {
    background-color: #DCF3FF;
}

#nav {
    width: 1430px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 0;
}

#nav a {
    display: inline-block;
    font-size: 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    transition: all .3s;
}

#nav .a-works {
    margin: 0 490px;
}

#nav a:hover {
    background-color: #395DA4;
    text-decoration: underline;

}

#brief {
    width: 1430px;
    height: 312px;
    border-radius: 20px;
    border: 2px solid #000;
    margin: 0 auto;
}

#brief #all {
    display: inline-block;
    height: 230px;
    width: 230px;
    background: url(img/all.jpg);
    background-size: 236px 236px;
    margin: 38px 50px 38px 25px;
    border-radius: 50%;
    float: left;
    transition: all .2s linear;
}

#brief #all:hover {
    transform: scale(1.2);
}

#brief p {
    display: inline-block;
    width: 1100px;
    height: 68px;
    margin-top: 122px;
    float: left;
    font-size: 25px;
}

#character {
    width: 1430px;
    height: 524px;
    margin: 48px auto 0;
}

#character>div {
    display: inline-block;
    width: 310px;
    height: 529px;
    float: left;
}

#character #pai {
    margin: 0px 250px;
}

#character>div .character-text {
    height: 188px;
    border-radius: 20px;
    font-size: 25px;
    color: white;
    text-align: center;
    transition: transform .5s;
}

#character>div .character-text:hover {
    transform: scale(1.2);
}


#character>div .character-text p {
    margin: 20px 15px 0;
    text-align: left;
}


#character>div .character-img {
    height: 312px;
    margin-top: 29px;
    border-radius: 20px;
    transition: transform .5s;
}

#character>div .character-img:hover {
    transform: scale(1.2);
}


#character #hai>div {
    background-color: rgba(248, 207, 55);

}

#character #pai>div {
    background-color: rgba(208, 128, 121);
}

#character #zhang>div {
    background-color: rgba(56, 95, 152);
}

#character #hai .character-img {
    background-image: url(img/haimianbaobao.jpg);
    background-size: contain;
}

#character #pai .character-img {
    background-image: url(img/paidaxing.jpg);
    background-size: contain;
}

#character #zhang .character-img {
    background-image: url(img/zhangyuge.jpg);
    background-size: contain;
}

#works {
    width: 1430px;
    height: 158px;
    margin: 52px auto 0;
    text-align: center;
    font-size: 20px;
}

#works .title {
    width: 1430px;
    height: 28px;
    font-weight: 700;
}

#works .title .name {
    display: inline-block;
    width: 808px;
    height: 28px;
    float: left;
}

#works .title .date {
    display: inline-block;
    width: 522px;
    height: 28px;
    float: left;
}

#works .title .mun {
    display: inline-block;
    width: 100px;
    height: 28px;
    float: left;
}

#works .table {
    width: 1430px;
    height: 130px;
}

#works .table>div>div {
    height: 26px;
}


#works .table .name {
    display: inline-block;
    width: 808px;
    height: 130px;
    float: left;
    border-radius: 7px 0 0 7px;
    background-color: rgba(153, 204, 255);
}

#works .table .date {
    display: inline-block;
    width: 522px;
    height: 130px;
    float: left;
    background-color: rgba(135, 206, 235);
}

#works .table .mun {
    display: inline-block;
    width: 100px;
    height: 130px;
    float: left;
    border-radius: 0 7px 7px 0;
    background-color: rgba(102, 153, 204);
}

#feedback {
    width: 1430px;
    height: 330px;
    margin: 63px auto 0;
}

#feedback form textarea {
    width: 1430px;
    height: 244px;
    background-color: #DCF3FF;
    border-width: 2px;
    border-radius: 8px;
    border-color: #87CEED;
    font-size: 20px;
}

#feedback form #submit {
    width: 168px;
    height: 64px;
    margin: 22px 0 0 1262px;
    background-color: #6495ED;
    border-radius: 7px;
    border-color: #6495ED;
    border-style: solid;
    font-size: 18px;
    color: white;
    transition: background-color .3s;
}

#feedback form #submit:hover {
    background-color: #486CF2;
}

#feedback form #submit:active {
    border-style: inset;
    background-color: #486CF2;
}

footer p {
    width: 1430px;
    height: 20px;
    margin: 1000px auto 50px;
    text-align: right;
    font-size: 20px;
    color: grey;
}